<div class="container">
  <footer class="footer">
    <small>
      <P>copyright &copy; | SHIMI GOLDMAN</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
